<div class="container">
  <crash-notifications ng-model="notifications"></crash-notifications>
  <div class="message-box">
    <div class="alert alert-success" role="alert"> Login Successful </div>
    <a href="#webhook" class="btn btn-primary btn-lg btn-block" role="button">Analyze Current Page</a>
    <button type="submit" ng-click="logout()" class="btn btn-lg btn-default btn-block">Logout</button>
    <button ng-click="showSettings()" class="btn btn-default btn-lg btn-block" role="button">Settings</button>
  </div>
</div>
